.nothing__main_content{
    align-items: center;
    background-color: darken($color: $primary, $amount:15);
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    p{
        text-align: center;
    }
}