html,body{
    color:black;
    background-color: lightslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.3rem;
    padding: 55px;
}

button{
    padding: 10px;
    font-size: 1.3rem;
    margin-right:10px ;
}